<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
	<div class="container">
		<a class="navbar-brand" [routerLink]="'/'">
			DDD Demo by Y3Group
		</a>
		<div ngbDropdown class="btn-group" placement="bottom-left">
			<button ngbDropdownToggle id="btnUserMini"
					class="navbar-toggler caret-off">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul ngbDropdownMenu *ngIf="!!userService.user"
				class="dropdown-menu dropdown-menu-right" aria-labelledby="btnUserMini">
				<li>
					<a class="dropdown-item text-uppercase" [routerLink]="'/'" [innerText]="userService.user?.username"></a>
				</li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li>
					<a class="dropdown-item" (click)="userService.logout()">Sign out</a>
				</li>
			</ul>
			<ul ngbDropdownMenu *ngIf="!!userService.user === false" class="dropdown-menu dropdown-menu-right"
				aria-labelledby="btnUserMini">
				<li>
					<a class="dropdown-item" [routerLink]="'/' + environmentPage.SIGNIN">Sign In</a>
				</li>
				<li>
					<a class="dropdown-item" [routerLink]="'/' + environmentPage.SIGNUP">Sign Up</a>
				</li>
			</ul>

		</div>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<!-- Left Side Of Navbar -->
			<ul class="navbar-nav me-auto">

			</ul>

			<!-- Right Side Of Navbar -->
			<ul *ngIf="!!userService.user" class="navbar-nav ml-auto">
				<li ngbDropdown class="nav-item dropdown btn-group">
					<a ngbDropdownToggle id="btnUserNav" data-bs-toggle="dropdown"
					   aria-label="Toggle navigation"
					   class="nav-link dropdown-toggle text-uppercase" href="#" role="button"
					   aria-expanded="false"
					   [innerText]="userService.user?.username"
					>
					</a>
					<div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="btnUserNav">
						<a class="dropdown-item" (click)="userService.logout()">
							Logout
						</a>
					</div>
				</li>
			</ul>

			<ul *ngIf="!!userService.user === false" class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/' + environmentPage.SIGNIN">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/' + environmentPage.SIGNUP">Sign Up</a>
				</li>
			</ul>

		</div>
	</div>
</nav>
