<div class="container mt-5">
	<h1>Cart</h1>
</div>
<div class="container-lg mt-5 bg-white shadow-sm rounded p-3">
	<div>
		<table class="table table-bordered">
			<thead class="table-dark">
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col">Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of items" style="vertical-align: middle">
				<td>
					<div class="d-flex align-items-center">
						<div class="thumb-box d-flex align-items-center"
							 [ngStyle]="{'background-image': 'url(' + (item.product.images !== undefined && item.product.images[0] !== undefined ? str.mergerURL(item.product.images[0]) : environment.URL + '/assets/images/default.jpeg') + ''}">
						</div>
						<span>
							{{ str.cutString(item.product.title, 0, 180) }}
						</span>
					</div>
				</td>
				<td>{{ item.quantity | number }}</td>
				<td>{{ item.price | number }}</td>
				<td>
					<button class="btn btn-outline-warning" (click)="remove(item.product)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							 class="bi bi-trash" viewBox="0 0 16 16">
							<path
								d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							<path fill-rule="evenodd"
								  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</button>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<th>Totals</th>
				<th style="padding: 0.5rem 0.5rem;font-weight: bold; color: #f73212;">{{ cart?.totalQuantity | number }}</th>
				<th style="padding: 0.5rem 0.5rem;font-weight: bold; color: #f73212;">{{ cart?.totalPrice | number }}</th>
				<th></th>
			</tr>

			</tfoot>
		</table>
		<a *ngIf="!!items && items.length > 0" [routerLink]="'/' + environmentPage.ORDER"
		   class="btn btn-primary">Order</a>
	</div>

</div>
