<div class="container mt-5 max-width-500">
	<h3 class="text-center">
		Sign In
	</h3>
	<div class="form-signin shadow rounded bg-white">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="account">Account</label>
				<input formControlName="username" type="text" class="form-control" id="account"
					   [class.is-invalid]="!form.pristine && form.get('username')?.invalid"
					   placeholder="Enter your account."
					   aria-describedby="accountHelp">
				<div class="invalid-feedback">
					Please provide a valid account.
				</div>
				<small id="accountHelp" class="form-text text-muted">Username, email, or phone number.</small>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input formControlName="password" type="password" class="form-control" id="password"
					   [class.is-invalid]="!form.pristine && form.get('password')?.invalid"
					   placeholder="Enter your password.">
				<div class="invalid-feedback">
					Please provide a valid password.
				</div>
			</div>
			<div class="form-group form-check">
				<input formControlName="remember_me" type="checkbox" class="form-check-input" id="remember_me"
					   aria-describedby="remember_me">
				<label class="form-check-label" for="remember_me">Remember me</label>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Sign In</button>
			</div>
			<div class="text-right">
				<a [routerLink]="'/' + pageSignUp" class="btn-signup">Register now</a>
			</div>
		</form>
	</div>
</div>
