<div class="header-nav"></div>
<router-outlet></router-outlet>


<!-- somewhere in your root component template -->
<!--<div aria-live="polite" aria-atomic="true" class="position-fixed">-->
<!--	<ngb-toast-->
<!--		*ngFor="let toast of toastService.toasts"-->
<!--		[animation]="toast.animation"-->
<!--		[header]="toast.header"-->
<!--		[autohide]="toast.autohide"-->
<!--		[delay]="toast.delay"-->
<!--		(hidden)="toastService.remove(toast)"-->
<!--	>{{toast.body}}</ngb-toast>-->
<!--</div>-->

<div class="splash"></div>
