<div class="container mt-5">
	<h3 class="text-center">
		Create a new product
	</h3>
</div>
<div class="container mt-5 shadow rounded bg-white">
	<div class="p-3">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="mb-4">
				<label for="title" class="form-label">Title <strong class="text-danger">*</strong></label>
				<input formControlName="title" type="text" class="form-control" id="title"
					   [class.is-invalid]="!form.pristine && form.get('title')?.invalid"
					   placeholder="Title.">
			</div>

			<div class="mb-4">
				<label for="price" class="form-label">Price <strong class="text-danger">*</strong></label>
				<input formControlName="price" type="number" class="form-control" id="price"
					   [class.is-invalid]="!form.pristine && form.get('price')?.invalid"
					   placeholder="Price.">
			</div>

			<div>
				<div class="mb-3">
					<label for="formImage" class="form-label btn btn-secondary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							 class="bi bi-plus-circle" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
							<path
								d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
						</svg>
						Add images</label>
					<input class="form-control d-none" type="file"
						   id="formImage"
						   accept="image/*"
						   (change)="handleFileInput($event)"
						   multiple>
				</div>
				<div class="d-grid images">
					<div *ngFor="let file of fileToUpload"
						 class="d-flex justify-content-center align-items-center shadow rounded m-1 bg-black thumbnail">
						<img class="thumbnail-img" [src]="getResourceUrl(file)">
						<div class="thumbnail-menu w-100 align-items-center">
							<div class="d-flex w-100 pe-2 ps-2">
								<div class="ms-auto">
									<button class="btn btn-sm btn-outline-danger" (click)="removeAttachment(file)">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											 fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash">
											<path
												d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
											<path fill-rule="evenodd"
												  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mb-4">
				<label for="description" class="form-label">Description <strong class="text-danger">*</strong></label>
				<textarea class="form-control" formControlName="description" type="text" id="description"
					   [class.is-invalid]="!form.pristine && form.get('description')?.invalid"
					   placeholder="Description."></textarea>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	</div>
</div>
